html, body {
  height: 100vh;
}
body, header, main, footer, h1 {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
header {
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: #12aa44;
  text-align: center;
}
main {
  height: 100%;
  text-align: center;
  background-color: #7788ff;
}

nav, article, aside {
	position: absolute;
  top: 80px;
  bottom: 60px;
}

nav {
  width: 150px;
  float: left;
  background-color: #4441aa;
}
article {
  left: 150px;
  right: 100px;
  float: left;
  background-color: #1133dd;
}
aside {
  right: 0;
  width: 100px;
  background-color: #115111;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 60Px;
  background-color: #23addd;
  text-align: center;
}
