html,
body,
header,
nav,
main,
h1,
footer {
	margin:0;
	padding:0;
    color: #fff;
    text-align: center;
}

html,
body {
	height:100vh;
}

header {
	background-color: #aa3522;
    height: 80px;
}

footer {
	background: #aa3522;
	height: 60px;
    width: 100%;
	bottom:0;
}

main {
    height: calc(100% - 140Px);
}

nav {
    width: 150px;
    float:left;
    height: 100%;
    background-color: #115111;
}

article {
    height: 100%;
    float:left;
    width:calc(100% - 250Px);;
    background-color: #1155c2;
}

aside {
    height: 100%;
    float:right;
    width:100px;
    background-color: #115111;
}